body {
    background: linear-gradient(to right, #000000, #37353E); /* Dari kiri ke kanan */
}

p{
 color: #D3DAD9;
 text-align: center;
 font-family: Roboto;
 font-size: 110%;
 padding:10;
}

button{
  color:#ffffff;
  font-family: Sans-Serif;
  text-align: center;
  background-color: #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}